<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h3>Hello <%= current_user.username %></h3>

      <a href="<%= new_sub_url %>">Create Sub</a>

      <form action="<%=session_url%>" method = "POST">
        <input type="hidden" name = "authenticity_token" value = "<%= form_authenticity_token%>"/>
        <input type="hidden" name = "_method" value = "DELETE">
        <input type="submit" value = "Log out">
      </form>
    <% else %>
      <a href="<%= new_session_url%>">Log in</a>
      <a href="<%= new_user_url%>">Sign Up</a>

    <% end %>

    <a href="<%=subs_url%>">All Subs</a>
    <a href="<%=users_url%>">All Users</a>
    <%= yield %>
  </body>
</html>
