<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id = "main-section">
    <h1 class = "main-logo">Music App</h1>

    <div class = "header">
      <%if logged_in? %>
      <h1>Hello <%= current_user.email %></h1>
        <form action="<%=sessions_url%>" method = "post" id = "logout">
        <input type="hidden" name = "_method" value="DELETE">
        <input type="submit" value = "log out">
      </form>
      <%else%>
      <a href="<%=new_user_url%>">Create User</a>
      <br>
      <a href="<%=new_sessions_url%>">Log in</a>
      <%end%>    
    </div>

    <div class = "content">
      <%= yield %>    
    </div>

    <div class = "footer">
      <a href="<%= users_url%>">Index</a>    
    </div>
  </div>
  
  </body>
</html>
