<% if action == :edit %>
  <% action_url = cat_url(cat) %>
<% else %>
  <% action_url = cats_url %>
<% end %>


<form action="<%= action_url %>" method="POST">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value = "<%=cat.name%>">
  
  <br>

  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value = "<%=cat.birth_date%>">
  
  <br>
  <label for="color">Pick a color:</label>
  <select id="color" name="cat[color]">
    <option value="blank"   <%= cat.color== nil ? "selected" : ""%>  disabled >Blank</option>
    <option value="white"   <%= cat.color=="white" ? "selected" : ""%>     >White</option>
    <option value="black" <%= cat.color=="black" ? "selected" : ""%>   >   Black</option>
    <option value="gray" <%= cat.color=="gray" ? "selected" : ""%>    >Gray</option>
    <option value="brown" <%= cat.color=="brown" ? "selected" : ""%>     >Brown</option>
  </select>

  <br>

  <label for="sex">Sex</label>
  <input id="M" type="radio" name="cat[sex]" value="M" <%= cat.sex=="M" ? "checked" : ""%>   >
  <label for="M">M</label>
  <input id="F" type="radio" name="cat[sex]" value="F" <%= cat.sex=="F" ? "checked" : ""%>   >
  <label for="F">F</label>
  
  <br><br>

  <label for="description">Description</label>
  <textarea name="cat[description]" cols="30" rows="10" > 
  <%=cat.description%> 
  </textarea>

  <input type="submit" value= "<%=action == :edit ? "Fix Your Cat" : "Create cat"%>">
</form>
